
@{
    ViewBag.Title = "Letra de Cantos";

}


@ViewBag.Song


<div id="lyrics">

</div>

<style>
    p {
        font-weight: bold;
        font-size: 55px;
        text-align: center;
        margin: auto;
        color: #fff;
    }

    body {
        background: #000;
    }
</style>

<script>
    $(document).ready(() => {
        $("footer").hide();
        $("hr").hide();
        $("nav").hide();
    })
</script>