
@{
    ViewBag.Title = "Proyector";
}

<div class="container">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nombre del canto..." aria-label="Nombre del canto" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Buscar</button>
            <button class="btn btn-outline-secondary" type="button" onclick="clearScreen()">Limpiar</button>
        </div>
    </div>


    <ul class="list-group list-group-flush">

        <li class="list-group-item">
            <div class="letter blue">C</div>
            <h3 class="text-secondary">Padre te Amamos</h3>
        </li>

        <li class="list-group-item">
            <div class="letter red">Bb</div>
            <h3 class="text-secondary">Santo, Jehová de los Ejércitos</h3>
        </li>

        <li class="list-group-item">
            <div class="letter blue">C</div>
            <h3 class="text-secondary">Que sea Fiel</h3>
        </li>

    </ul>



</div>
